:global {
  body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }

  h1 {
    color: #92d050;
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}
