doctype html
html(lang="en")
  head
    <!-- blocking, but what else can ya do? -->
    <!--[if IE]>
      link(rel="stylesheet" href="/css/index.css")
      link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    <![endif]-->
    title
    meta(name="description" content="EZ-post is a travel printing service company that believes in capturing and eternalizing your memorable moments during travelling or other special occasion. Every journeyman has their unique story to tell and we are here to provide you a platform to share and spread your memorable moment to your friend and family.")
  body
    <!--[if !IE]> -->
      link(rel="stylesheet" href="/css/index.css" lazyload="1")
      link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" lazyload="1")
    <!-- <![endif]-->
    h1 EZ-Post
    h3 Your story, we post it

    p EZ-post is a travel printing service company that believes in capturing and eternalizing your memorable moments during travelling or other special occasion.
      | Every journeyman has their unique story to tell and we are here to provide you a platform to share and spread your memorable moment to your friend and family.

    h2 Customizable post card
    p We let you customizable your own post card, print it into hard copy and directly send it to the designated address at an affordable price.
    p We will take care of all hassle from buying a post card to delivering it at post office. With that, you can actually focus more on travelling during your vacation and less on nitty-gritty logistic.
    p 4 inch X 6 inch post card
    p Customizable photo on front side
    p User message and recipient address on the back
    p Mailing and stamp included (Malaysia-Penang Stamp)
    p
      strong Cost:
      | RM3.50 nett each card

    h2 Purchasing Steps
    ol
      li Take a photo from your camera
      li Provide a short message for your recipient (optional)
      li Provide the full recipient address to send to
      li Make online payment to EZ-post and attach a screenshot
        ol
          li
            strong Malaysia
            | – Maybank – 101 302 164 354
          li
            strong Singapore
            | – OCBC bank - 622-7-105738
      li Send it to email: instapostcard@gmail.com
      li We will inform you when post card is printed and send with a tracking number
      li Wait for up to 14 working days depending on the location of recipient
      li We have a policy of fully refund or resending post card if post card was not reach within 30 working days, tracking number is required for administrative purposes

    h2 Contact
    p
      strong Address:
    | 453B, Jalan Pokok Ceri,
    | 11500, Air Itam,
    | Penang, Malaysia
    p
      strong Contact Person:
    p Jern (Malaysia) via email instapostcard@gmail.com
    p KaiJu (Malaysia) via email instapostcard@gmail.com
