doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="og:title" content="EZ 2 Post")
    meta(name="og:type" content="profile")
    meta(name="og:site_name" content="https://ez-post.github.io")
    meta(name="og:description" content="")
    meta(name="og:description" content="EZ POST lets you convert photo to quality postcard in 5 mins by leveraging on easy to use mobile app. Start surprising your friends now.")
    include include/header.pug
    title EZ POST: Personalized Physical Postcard Anytime Anywhere 
    meta(name="description" content="EZ POST lets you convert photo to quality postcard in 5 mins by leveraging on easy to use mobile app. Start surprising your friends now ")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-109693819-1', 'auto');
      ga('send', 'pageview');


  body
    include include/body.pug
    link(href='//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css', rel='stylesheet', type='text/css')
    include include/navi-bar.pug

    div(id="header")
      h1(class="company-title") EZ-Post
      h3 Converting your beatiful photo into meaningful gift
    hr
    div(class="center")
      img(src="/ext/img/worldmap.svg" id="banner")

    </br>

    div(class="iconbox")
      p
        strong Download EZ Post
      a(href='https://play.google.com/store/apps/details?id=com.theezpost.postcard' target='_blank' class="link")
        img(src="/ext/img/googleplay.svg" style="width:200px")

    </br>

    div(class="iconbox")
      iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTheEZpost%2F&tabs=timeline&width=380&height=250&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=792178117625484', width='380', height='250', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')

    div(class="afterbox")
      </br>
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action='https://the-ez-post.us17.list-manage.com/subscribe/post?u=3339f01ff49043804d4324e91&id=0cbcc474b0', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            label(for='mce-EMAIL') Subscribe to our mailing list
            input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
            div(style='position: absolute; left: -5000px;', aria-hidden='true')
              input(type='text', name='b_3339f01ff49043804d4324e91_0cbcc474b0', tabindex='-1', value='')
            .clear
              input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')

    div(id="body")

      div(id="backtotop")
        <a href="javascript:scrollToTop();"> Back to top</a>
      div(id="footer")
        | &copy; 2017 Ez-Post hosted on github
    script.
      function scrollToTop() {
        var scrollDuration = 500,
            scrollHeight = window.scrollY,
            scrollStep = Math.PI / ( scrollDuration / 15 ),
            cosParameter = scrollHeight / 2,
            scrollCount = 0,
            scrollMargin,
            scrollInterval = setInterval( function() {
              if ( scrollHeight > 0 ) {
                  scrollCount = scrollCount + 1;
                  scrollMargin = cosParameter - cosParameter * Math.cos( scrollCount * scrollStep );
                  window.scrollTo( 0, ( window.scrollY - scrollMargin ) );
                  scrollHeight -= scrollMargin;
              }
              else clearInterval(scrollInterval);
            }, 15 );
      }
