doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="og:title" content="EZ 2 Post")
    meta(name="og:type" content="profile")
    meta(name="og:site_name" content="https://ez-post.github.io")
    meta(name="og:description" content="")
    meta(name="og:description" content="EZ-post is a travel printing service company that believes in capturing and eternalizing your memorable moments during travelling or other special occasion. Every journeyman has their unique story to tell and we are here to provide you a platform to share and spread your memorable moment to your friend and family.")
    include include/header.pug

  body
    include include/body.pug

    ul
      li
        a(href='/index') Home
      li
        a(href='/about') About
      li
        a.active(href='/policy') Policy
      li
        a(href='/article') Article
      li
        a(href='/contact') Contact

    div(class="body")
      div(class="post")
        h2 SHIPPING POLICY
        div(class="content")
          | We commit to deliver our postcard to both local and international address within 4 weeks subject to Pos Malaysia delivery time.
        h2 RETURN AND REFUND POLICY
        div(class="content")
          | In the event of postcard not received in 4 weeks, EZ Post will resend postcard upon request by customer on a case by case basis. Postcard is considered received by recipient after 6 weeks after payment is made.
        h2 PRIVACY POLICY
        div(class="content")
          ol
            li.policy We do not share your personal information with anyone except to comply with the law, develop of our products, or protect our rights.
            li.policy We do not store personal information on our servers unless required for the ongoing operation of one of our services.
