doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="robots", content="noindex")
    link(rel="stylesheet" href="/ext/css/index.css?p=2")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  body
    div(id="header")
      a(href="/")
        h1(class="company-title") EZ-Post
      h3 Your story, we post it
    hr
    div(id="body", class="reset_password")
      div(class="post blue")
        div(class="content")
          | Please change your password here. <br><br>

          div(class="error", id="error")
          div(class="success", id="success")

          table(id="input-table")
            tr
              td New Password:
              td
                input(type="password", maxlength=20, class="textfield", id='newpassword')
            tr
              td Retype Password:
              td
                input(type="password", maxlength=20, class="textfield", id='oldpassword')
            tr
              td(colspan=2)
                input(type="submit", class="submitbutton", value="Submit", id="submit")

    div(id="footer", class="footer")
      | &copy; 2017 Ez-Post hosted on github
    script.
      function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      function hideTable() {
        document.getElementById('input-table').style.display='none';
      }

      function postNewPassword(email, resetid, newpassword) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("error").innerText = "";
              document.getElementById("success").innerText = "Your new password is now activated.";
              hideTable();
            }
            else if (this.readyState == 4 && this.status == 403) {
              document.getElementById("error").innerText = "Your password reset has expired. Do retry or request for a reset again.";
              hideTable();
            }
            else if (this.readyState == 4 && this.status == 400) {
              document.getElementById("error").innerText = "The link given is not valid. Please re-check your email again.";
              hideTable();
            }
            else if (this.readyState == 4 && this.status != 200) {
              document.getElementById("error").innerText = "Server encountered exception. Please try again.";
              document.getElementById('submit').addEventListener('click', click, false);
            }
        };

        xmlhttp.open("POST", "http://login.the-ez-post.com/resetpassword", true);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(JSON.stringify({ email: email, resetid: resetid, newpassword: newpassword }));
        document.getElementById('submit').removeEventListener('click', click, false);
      }

      function click() {
        var resetid = getParameterByName('resetid');
        var email = getParameterByName('email');

        if(document.getElementById('newpassword').value !== document.getElementById('oldpassword').value) {
          document.getElementById('error').innerText = "Password does not match.";
        }
        else if(document.getElementById('newpassword').value.trim === '' || document.getElementById('newpassword').value.length < 8) {
          document.getElementById('error').innerText = "Password has to be minimum of 8 characters.";
        }
        else {
          document.getElementById('error').innerText = "";
          postNewPassword(email, resetid, document.getElementById('newpassword').value);
        }
      }

      (
        function(){
          document.getElementById('submit').addEventListener('click', click, false);
        }
      )()
