doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="robots", content="noindex")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/ext/css/index.css?p=3")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-103059902-1', 'auto');
      ga('send', 'pageview');
  body
    div(id="rules-regulation")
      h3 SHIPPING POLICY 
      div(class="item")
        | We commit to deliver our postcard to both local and international address within 14 working days subject to Pos Malaysia delivery time.
      h3 RETURN AND REFUND POLICY
      div(class="item")
        | In the event of postcard not received in 21 working days, EZ Post will resend postcard upon request by customer on a case by case basis. Postcard is considered received by recipient after 30 working days after payment is made.
      h3 PRIVACY POLICY
      div(class="item")
        ol
          li We do not share your personal information with anyone except to comply with the law, develop of our products, or protect our rights.
          li We do not store personal information on our servers unless required for the ongoing operation of one of our services.
