doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="og:title" content="EZ Post")
    meta(name="og:type" content="profile")
    meta(name="og:site_name" content="https://ez-post.github.io")
    meta(name="og:description" content="")
    meta(name="og:description" content="Impress your friends and family with easy to make DIY greeting cards infuse with your creativity, all done online")
    include ../include/header.pug
    include ../include/favicon.pug
    title How to create easy DIY Christmas gifts card for friends in no time 
    meta(name="description" content="Impress your friends and family with easy to make DIY greeting cards infuse with your creativity, all done online")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-109693819-1', 'auto');
      ga('send', 'pageview');

    body
    include ../include/body.pug
    include ../include/navi-bar.pug

    div(id="body")
      div(class="post blue")
        div(class="content")
          h1(class='title' style='text-align:center') How to create easy DIY Christmas gifts card for friends in no time

		
      div(class="post")
        div(class="content")
          p 
            | 
            | Christmas and new year is around the corner, its is the best time to congratulate your friend and family on a fruitful year.
            | Personally, I do not like generic gift from store as it is less meaningful from DIY gift and its always markup for the festive season.
            | However, city folks like us does not always have the luxury of time to personalize our gift. 
          p  
            | Today you can make yourself distinct and memorable DIY Christmas gifts card printed and delivered to your recepient 
            | in no time by using 3 simple actionable steps all done within your cell phone.
          img(src="/ext/img/christmas-house.jpg" style='display:block;margin:auto;width:60%;border:1px groove black')
          h2(style='text-align:left') Find a great Christmas photo online

          p 
            | To make yourself distinct, a beautiful photo will go a long way to impress your receiver. 
            | You might not have a great photo for this occasion, that will not be a problem as you can get great stock photo 
            | using online resources like 
            a(href='https://play.google.com/store/apps/details?id=com.pixabay.pixabayapp&hl=en' target='_blank') Pixabay 
            | which consist of many beautiful photo to choose from and it is FREE!
          p
            | Pixabay has a search engine to get you the photo that suits your taste and it has many photo to choose from.  
            | Download the photo on a 1920 X 1280 pixels count to have good print out quality.
            img(src="/ext/img/pixabay.jpg" style='display:block;margin:auto;width:30%')
          h2(style='text-align:left') Edit the photo and make it personalized (Optional)
          p
            | If you wanted to make the stock photo more personalized, 
            | image editing app such as  
            a(href='https://play.google.com/store/apps/details?id=com.pixlr.express&hl=en' target='_blank') Pixlr 
            | Pixlr offers a simple interface with many useful function to save your precious time on editing images
          img(src="/ext/img/pixlr.jpg" style='display:block;margin:auto;width:30%')
          p Some of the useful function are:
          h3 Collate multiple photos
          p One photo is not enough? Put in multiple and make a photo collage
          h3 Adding personalized text
          p Express yourself to make the photo more relevant
          h3 Color filter
          p Prefer a better color tone to suit the winter season? Try different color filter
		   
          h2(style='text-align:left') Get card printed and send to your friends and family
          p 
            | After having your perfect christmas photo design, sharing online with them would not standout in a noisy social media world
            | However, you can easily turn it into a physical card and deliver it to your friends and family directly with 
            a(href='https://play.google.com/store/apps/details?id=com.theezpost.postcard' target='_blank') EZ Post 
            | to surprise and impress your friends and family. They will know that they always have a special place your heart and you mean it with your action.
            | Turning the photo into a card is fairly simple and can be done with minimum effort all done within your cell phone.
            | EZ post only cost about USD 1.25 per card, which is a small price to pay to leave a lasting impression.
            | Do it now and get the first card for free. 
            | </br>
            | </br>
            img(src="/ext/img/ezpost.png" style='display:block;margin:auto;width:30%')

          <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.the-ez-post.com%2Farticles%2Fchrismas-gift&width=106&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=792178117625484" width="106" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>