doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="og:title" content="EZ Post")
    meta(name="og:type" content="profile")
    meta(name="og:site_name" content="https://ez-post.github.io")
    meta(name="og:description" content="")
    meta(name="og:description" content="EZ POST Christmas lucky draw 2017. You could be the next winner by joining EZ Post facebook fan page")
    include ../include/header.pug
    include ../include/favicon.pug
    title 9 best travel planning sites 
    meta(name="description" content="EZ POST Christmas lucky draw 2017. You could be the next winner by joining EZ Post facebook fan page")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-109693819-1', 'auto');
      ga('send', 'pageview');

    body
    include ../include/body.pug
    include ../include/navi-bar.pug

    div(id="body")
      div(class="post")
        div(class="content")
          h1(class='title' style='text-align:center') Free Chinese New Year Stock Photo
          p 
            | Wishing everyone a prosperous Chinese new year and have a great year ahead.
          p
            | When I trying to find chinese new year photo for printing, I notice that there are lacking of free quality chinese new year theme stock photo available on website.
            | Furthermore, most stock photo would require user to pay for download. Therefore I am creating a small gallery of stock photos for anyone who wanted to create their very own greeting cards or even e greeting cards.
          
          p
            | For your own customization, please refer to 
            strong
              a(href='/articles/chrismas-gift' class='link') this article 
            | for steps.
			
          p
            | Those who like to contribute your Chinese New Year design, please contact me @ 
            <a href="mailto:theezpost@gmail.com" class="email">theezpost@gmail.com </a>
            | to link it back to your website.
			
      div(class="post2")
        div(class="content")
          img(src="/ext/img/cny-dog-1.jpg" alt-text='chinese new year dog' style='display:block;margin:auto;width:60%')
        hr

      div(class="post2")
        div(class="content") 
          img(src="/ext/img/cny-dog-2.jpg" alt-text='chinese new year dog' style='display:block;margin:auto;width:60%')
        hr
