doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="og:title" content="EZ 2 Post")
    meta(name="og:type" content="profile")
    meta(name="og:site_name" content="https://ez-post.github.io")
    meta(name="og:description" content="")
    meta(name="og:description" content="EZ POST lets you convert photo to quality postcard in 5 mins by leveraging on easy to use mobile app. Start surprising your friends now.")
    include ../include/header.pug
    title Malaysia souvenir: Meaningful gift for friends in 4 easy steps 
    meta(name="description" content="EZ POST lets you convert photo to quality postcard in 5 mins by leveraging on easy to use mobile app. Start surprising your friends now ")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-109693819-1', 'auto');
      ga('send', 'pageview');
	  
    body
    include ../include/body.pug
    include ../include/navi-bar.pug
	
    div(id="body")
      div(class="post blue")
        img(src="/ext/img/Design_Your_Unique_Gift.jpg" style="width:100%")
        h2 Malaysia souvenir: Meaningful gift for friends in 4 easy steps
		
      div(class="post")
        
        div(class="content")
          
          p 
            | Malaysia is famous for its delicacy ranging from the delicious Fried Kway Teow, Nasi Lemak, Roti Canai to the bizarre 
            a(href='http://www.sabaheats.com/d-place-plazashell-sabah-local-kadazan-dusun-cuisine/', target='_blank') maggot pizza
            | .	
          img(src="/ext/img/bug_pizza.jpg" style='display:block;margin:auto;width:50%')
          p 
            | When it comes to buying authentic Malaysia souvenir as a meaningful gift for friends and family, there are many souvenirs on offer such as keychain, T- Shirt and biscuit but all of them are mass produce generic goods. 
            a(href='https://www.tripadvisor.com.my/ShowTopic-g1-i10702-k8879666-How_strict_is_AirAsia_with_7kg_Carry_on_Baggage-Air_Travel.html', target='_blank') Those items could be heavy and bulky and weight you down during your journey
            | .
          img(src="/ext/img/luggage.jpg" style='display:block;margin:auto;width:60%')
          p To have a really meaningful gift, you can choose to DIY your own but it might not worth your time and effort. However, with EZ Post, you can convert your beautiful photo taken during the trip into a unique postcard in 4 EZ steps without worry about extra weight. Best of all you can do it at any time and from anywhere and the app operate just like any leading e-commerce website.
          
          ol
            li.policy 
              u Download EZ Post mobile app*
              p 
                | Go to Google play store and search for 
                a(href='https://play.google.com/store/apps/details?id=com.theezpost.postcard', target='_blank') EZ Post
                | .
            li.policy
              u Register yourself
              p Registering is easy with an existing facebook account or sign up an account with us.
            li.policy
              u Design your postcard
              p Put your beautiful photo to good use. Steps to create are fairly straightforward.
            li.policy
              u Pay and wait for postcard to be delivered
              p Select the postcard you created and wanted to send and pay RM4.99 (USD1.20) for each postcard via credit card. Postcard will be delivered straight to your recipient.
          p We are using 350gsm high quality paper printed by industrial grade printer. The paper is thick and the colour of postcard will not smirk.
          p Over 200 EZ Post users have tried and sent their own meaningful gift in the form of postcard. Try it now and surprise your friends with a unique, meaningful and authentic Malaysia souvenir today. 
          img(src="/ext/img/ezpost_promo.jpg" style="width:100%")
          p(style='font-size:12px')
            | *EZ Post app is only available on Android today, if you are on IOS, please leave 
            a(href='/index', target='_blank') your contact
            | 
            | with us so that we can inform you when IOS version is ready to use 
		  
//      div(class="post blue")
//        div(class="content")
//          p
//            strong Coming Soon